name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn install --frozen-lockfile
      # Put this back in when we have some tests
      #- run: |
      #    npm run all
      - run: |
          yarn run build && yarn run format && yarn run lint
  test: # make sure the action works on a clean machine without building
    strategy:
      matrix:
        version: ['latest', 'v1.0.0']
        runner: ['ubuntu-latest', 'macos-latest']
    runs-on: ${{ matrix.runner}}
    steps:
      - uses: actions/checkout@v3
      - name: Set Node.js 18.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 18.x
      - uses: ./setup
        with:
          tag: ${{ matrix.version }}
      - run: mass help
